<div ng-app="chatApp" class="fullwidth" id="chatContainer">
	<div class="panel panel-info" id="chatPanel">
		<div class="panel-heading">Chat it out</div>
  		<div class="panel-body chatBody">
		 	<div ng-repeat="message in messages">
		 		<span class="message-author">{{ message.from }}:</span>
		 		<span class="message-text">
		 			{{ message.text }}
					<time class="message-time">{{ message.time }}</time>
	 			</span>
		  	</div>
		  	<span id="buttom">This is the end</span>
	  	</div>
		<div class="panel-footer">
			<form ng-submit="handleMessage(username, freshMessage.text)">
				<div class="input-group">
				  <span class="input-group-addon">{{username}}:</span>
				  <chatinput ng-model='freshMessage.text'></chatinput>
				  <span class="input-group-btn"><input tabindex="3" class="btn btn-primary" type="submit" value="Send" />
				</div>
			</form>
		</div>
	</div>
</div>